name: Docker Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Build Docker image
        run: docker build -t counter-app:latest .

      - name: List images
        run: docker images

      - name: Login to Docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/counter-app:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/counter-app:latest

      - name: Deploy to server
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
          chmod 600 key.pem
          # username/ 부분을 ${{ secrets.DOCKER_USERNAME }}으로 변경하세요
          ssh -i key.pem -o StrictHostKeyChecking=no ubuntu@43.201.115.58 "
          cd ~/app
          sudo docker pull ${{ secrets.DOCKER_USERNAME }}/counter-app:latest &&
          sudo docker-compose up -d"
          rm -f key.pem # 사용 후 키 파일 삭제 (보안)